@font-face {
    font-family: 'TH Sarabun New';
    src: url('THSarabunNew-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TH Sarabun New';
    src: url('THSarabunNew.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
