/*header*/
.main-object.fixed {
    position: fixed;
    width: 100%;
    background: #FFF;
    top: 0;
    box-shadow: 0 3px 5px 1px rgb(0 0 0 / 8%);
    animation: fadeInDown .9s;
    z-index: 9999;
}
.desktop_menu li a:not(.sub-menu a){
  padding-left: 20px;
}
.main-object{
    box-shadow: 0 3px 5px 1px rgb(0 0 0 / 8%);
}
body.admin-bar .main-object.fixed {
    top: 32px;
}
 #menu-topbar {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
      grid-gap: 15px;
}
.main-object .left {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}
.main-header .top-object {
    background: #66CA42;
    padding: 7px 0;
}

.wrap-nav {
    display: flex;
    justify-content: space-between;
}
.my-profile {
    color: #FFF;
    display: flex;
    background: #A3CD4D;
    font-size: 14px;
    align-items: center;
    padding: 5px 15px;
    border-radius: 5px;
    max-height: 40px;
    height: 40px;
    grid-gap: 5px;
}
.my-profile svg {
    height: 17px;
    width: 17px;
}

.my-profile:active,.my-profile:focus{
    color: #fff;
}
.my-profile:hover svg * {
    fill: #000;
}
.my-profile:hover{
  background: #eee;
  color: #000;
}
.wrap-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap-nav .right {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    align-items: center;
}


.toggle-search .toggle-icon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #66CA42;
    border: 1px solid #66CA42;
    border-radius: 5px;
}
.toggle-search .toggle-icon:hover {
    background: #eee;
    color: #000;
    border: 1px solid #eee;
}

.social-box {
    display: flex;
    grid-gap: 5px;
}

.social-box *{
      fill: #66CA42;
}
.social-box .icon-in {
    background: #FFF;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-box svg {
    max-width: 15px;
    max-height: 15px;
}


.top-bar a {
    color: #FFF;
    font-size: 13px;
    font-weight: 300;
}
#menu-topbar li {
    display: flex;
    align-items: center;
}



.mobile-object .main-object {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.mobile-object .main-object .main-tog {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 32px;
}
.mobile-object .main-object span.span-toggle {
    font-size: 14px;
}

.mobile-object .toggle-search .toggle-icon {
    height: 45px;
    width: 45px;
    color: #222;
    border: 1px #0000 solid;
    background: #0000;
}

.mobile-object .toggle-icon svg{
      width: 30px;
}


.desktop_menu ul.menu > li.current-menu-item a {
color: #000;
}
.desktop_menu li:hover > a, .site-header .menu-item-has-children:hover > .wrap-toggle-mobile svg, .site-header .menu-item-has-children:hover > a {
    color: #66CA42!important;
}
.desktop_menu ul.menu > li > a::after{
  content: '';
  width: 1px;
  height: 3px;
  background: #66CA42;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 15px;
  opacity: 0;
  border-radius: 5px;
}
.desktop_menu ul.menu > li.current-menu-item a::after,
.desktop_menu ul.menu > li:hover a::after{
opacity: 1;
  width: 20px;
}
#page .desktop_menu .sub-menu li:hover > a {
    color: #66CA42!important;
}
.menu-item-has-children:hover > .wrap-toggle-mobile > svg{
      stroke: #66CA42;
}


#page .desktop_menu ul.menu > li a:hover::after {
    opacity: 1;
}

@media (max-width: 1600px){
}
/*laptop*/
@media (max-width: 1280px){
}
/*ipad pro (large tablet)*/
@media (max-width: 1024px) and (min-width: 992px){
}
@media (max-width: 991.98px) {

}
/*iphone8 (smartphone)*/
@media (max-width: 575.98px) {

}
/*iphone5 (small smartphone)*/
@media (max-width: 360px) {
}
